.logo {
    margin: 0;
    padding: 0;
    height: 40px;
}


body {
    /* font-family: 'Hanken Grotesk', sans-serif;*/
    font-family: 'Darker Grotesque', sans-serif;
    margin: 28px 200px 0 200px;
}

a {
    color: #184C99;
    text-decoration: none;
}

a:visited {
    color: #184C99;
}

ul {
    list-style-type: none;
}

.nav {
    color: #184C99;
    font-weight: 700;
}

.login {
    color: #184C99;
    font-weight: 700;
}

.yellow-btn {
    background-color: #FBB52F;
    border-radius: 5px;
    border-color: transparent;
    color: #ffffff;
}

.join-us {
    font-weight: 700;
    text-transform: uppercase;
    height: 40px;
    width: 120px;
}

.login-arrow {
    margin: 0 0 0 8px;
    padding: 0;
}

/* promo */
.promo {
    background-image: url(/img/none.svg);
    background-position: right top 26px;
    background-repeat: no-repeat;
    background-color: #184C99;
    margin: 28px -200px 0 -200px;
    padding-top: 80px;
    padding-bottom: 80px;
    height: 500px;
}
.promo-h, h1 {
    color: white;
    font-weight: 700;
    margin: 0 0 35px 200px;
    padding: 0;
}

h1 {
    font-size: 70px;
    line-height: 58px;
}

.promo-p {
    font-size: 30px;
    color: #ffffff;
    width: 400px;
    margin: 0 0 35px 200px;
    padding: 0;
}

.learnmore-btn {
    background-color:#184C99;
    border-color:#FBB52F;
    color:#FBB52F;
    border-width: 1px;
    border-style: solid;
    margin-left: 10px;
}

.promo-btn {
    margin: 0 0 0 200px;
}

.promo-btn, .learnmore-btn {
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: 700;
    font-size: 22px;
    height: 50px;
    width: 190px;
    border-radius: 6px;
    letter-spacing: 0.6px;
    margin-top: 15px;
}
.promo-picture {
    width: 100px;
}

/* pros */
.card {
    padding: 35px 40px;
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
    width: 260px;
}

h3 {
    color: black;
    margin: 16px 0 0 0 ;
    font-size: 28px;
    font-weight: 700;
}

.pros-p {
    color: black;
    width: 220px;
    margin: 8px 0 0 0;
    padding: 0;
    font-size: 22px;
}

/* features */

.featured {
    height: 500px;
    background-image: url(/img/features.png);
    background-position: right top;
    background-repeat: no-repeat;
    background-size: contain;
    margin-bottom: 100px;
}

.features-desc {
    margin: 200px 0 200px 0;
    padding-top: 80px;
}

.features-desc > img {
    width: 200px;
    margin: 0 0 -2px -50px;
}

.features-desc > h2 {
    font-size: 58px;
    font-weight: 700;
    margin: 35px 0;
}

.features-desc > p {
     width: 360px;
     font-size: 24px;
     margin-top: -5px;
}

.bold-blue-line {
    width: 94px;
    height: 8px;
    margin: 0 -5px 0 -50px;
}

.features-desc > a > figure {
    margin: 35px 0 0 0;
}

.features-desc > a {
    color: #23A6F0;
    font-weight: 700;
    font-size: 24px;
}

.features-desc > a:hover {
    color: #23A6F0;
}

.blue-arrow {
    height: 14px;
    margin-left: 4px;
}

/* courses */
.advice-p {
    color:#23A6F0;
    font-weight: 700;
    font-size: 24px;
    margin: 0 0 -8px 0;
}

.advice h2+p {
    margin: -8px 0 10px 0;
    font-size: 24px;
}

.advice h2 {
    font-size: 60px;
    font-weight: 700;
    margin: 0 0 10px 0;
}

.courses-example img[alt^="promo"] {
    height: 280px;
    margin-top: 80px;
    margin-bottom: 20px;
}

.courses-example h3 {
    font-size: 26px;
    font-weight: 700;
    margin: 0;
}

.courses-example img+p {
    color: #23A6F0;
    font-weight: 700;
    font-size: 20px;
    margin: 0;
}

.courses-example h3+p {
    margin: 5px 0 0 0;
    font-size: 18px;
    color: black;
}

.sales {
    color: #737373;
    font-weight: 700;
    margin-left: 5px;
}

.courses-example img[alt="download"] {
    margin-left: -40px;
}

.courses-example figure+span {
    font-size: 20px;
    font-weight: 700;
    color: #40BB15;
}

.old-price {
    color: #BDBDBD;
    text-decoration: line-through;
}

.courses-example div > figure {
    color: black;
    margin-left: 0;
}

.courses-example button {
    background-color: white;
    color: #23A6F0;
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 18px;
    font-weight: 700;
    border-width: 1px;
    border-color: #23A6F0;
    border-radius:40px;
    width: 140px;
    height: 40px;
    margin: 10px 0 0 0;
}

.courses-example button > img {
    margin-left: 5px;
}

/* rewiew list */

.rewiews {
    background-color: #252B42;
    margin: 100px -200px;
    height: 1200px;
    /* ajust height after centering!!!! */
}

.rewiews-p {
    color: #23A6F0;
    font-weight: 700;
    font-size: 24px;
    padding: 140px 0 0 200px;
}

.rewiews h2 {
    color: #ffffff;
    padding-left: 198px;
    margin-top: -20px;
}

.rewiews h2+p {
    color: #ffffff;
    margin-top: 10px;
    padding-left: 200PX;
    font-size: 20px;
}

.clients {
    color: #ffffff;
}

.client-rew {
    background-color: white;
    width: 380px;
    margin: 35px 10px 0 160px;
}

.client-rew p, h4, h5 {
    color: black;
    margin: 0 0 15px 0;
    padding: 0;
}

.client-rew > img {
    height: 120px;
    margin: 25px 0 30px 0;
}

